{% extends 'encabezadountels.html' %}
{% block title %}
{{titulo}}
{% endblock %}
{% block content %}
<!--Comentario en HTML-->
{% comment 'Datos de la pagina index' %}
En esta pagina se mostrara la bienvenida al sistema
{% endcomment %}
<h1 class="title">LENGUAJE DE PROGRAMACION III </h1>

<h1>Kevin Andre Enrique Taipe</h1>
  <h1>https://github.com/ke28060/UC3_PARTE01.git</h1>  
  <h1>Carlos Julian Gomez Morales</h1>  
  <h1>https://github.com/CarlosGM27/UC3-Parte02.git</h1>
    <h1> Kenet Simon Ureta Flover</h1>
   <h1>https://github.com/kenet2552/UC3-Parte03.git</h1>
    <h1> Kevin Andre Enrique Taipe</h1>
<h1>https://github.com/ke28060/UC3_PARTE04.git</h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<p>Año: 2023</p>


{% endblock %}